main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, white, #005d80);
}

.container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, white, #003e55f1);
    width: 520px;
    height: 620px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;    
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 2.5rem serif;
    border-bottom: solid 5px black;
    margin-bottom: 20px;    
}

.input{
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
.input input{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
}
.input label{
    font: bold 1.5rem serif;
}
.result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 390px;
    height: 150px;
    border-radius: 5px;
    font: bold 1.5rem serif;
    box-shadow: 0px 0px 10px rgb(88, 85, 42);
    background-image: linear-gradient(white, #032533f1);    
    color: rgb(7, 7, 5);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}

/* aspx
button{
    width: 300px;
    height: 40px;
    font: bold 1.2rem serif;
    background-image: linear-gradient(rgb(2, 71, 136), #003e55f1);
    color: rgb(88, 85, 42);
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
*/

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #032533;
    background: rgb(228, 224, 224);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #f7f7f7, #005d80, #005d80);    
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(255, 255, 255)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}